.ackrc
.dockerignore
.editorconfig
.git/
.gitignore
circle.yml
design/
ffmpeg-release-64bit-static.tar.xz
ffmpeg-release-amd64-static.tar.xz
ffmpeg-static/
backstop_data/
blobs/
.circleci
backstop-artifacts.zip
