/* TODO @halmos cleanup there seem to be some old reader legacy CSS here */

.rdfa-figure-container {
  margin: var(--mgrd) 0;
  padding-bottom: var(--mgrd);
  & .rdfa-figure {
  }

  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .iconoclass {
      margin-left: var(--xsgrd);
      color: var(--text-color);
    }
  }
  &__label {
    font: var(--sans-body-type);
    text-transform: uppercase;
    letter-spacing: 0.045em;
    font-weight: bold;
  }
  & figcaption {
    padding: var(--mgrd) 0;
    &:empty {
      padding: 0;
    }
  }
}

.rdfa-figure {
  box-sizing: border-box;
  margin: var(--sgrd) 0px;
  border: 2px solid var(--ruling-color);
  padding: var(--mgrd);
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;

  @media (--small-tablet) {
    padding: var(--sgrd);
  }

  /* make figure take full width -- mostly for print */
  &--full-width {
    & .flex-packer {
      width: calc(
        100% - var(--rdfa-scholarly-article__left-margin--print) -
          var(--rdfa-scholarly-article__right-margin--print)
      );
      width: 100%;
    }
    @media print {
      display: flex;
      justify-content: center;
    }
  }

  &__divider {
    &--full-width {
      @media print {
        width: calc(
          100vw - var(--rdfa-scholarly-article__right-margin--print) -
            var(--rdfa-scholarly-article__left-margin--print)
        );
        padding: 0;
      }
      @media screen {
        width: calc(100vw - var(--rdfa-scholarly-article__right-margin));
      }
    }
  }

  &__list {
    list-style: none;
    padding-left: 0;
  }

  &__list-item {
    padding-bottom: var(--mgrd);
  }

  & ol {
    /* margin: var(--sgrd) 0 0 0; */
    padding: var(--sgrd) 0 var(--sgrd) var(--mgrd);
    border-top: none;

    & p {
      padding-top: 0;
      margin: 0;
      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  & figcaption,
  & header {
    font: var(--ui-type--label);
    color: var(--ui-type--label__color);
    letter-spacing: var(--ui-type--label__letter-spacing);
    padding: var(--mgrd) 0;

    &:first-child {
      padding-top: 0;
    }

    &:empty {
      padding: 0;
    }

    & .rdfa-caption {
      &:last-of-type {
        padding-bottom: 0;
      }
    }
    /*&:last-child {
      padding-bottom: 0;
    }*/
  }

  /* author notes in figcaption */
  & figcaption > ol {
    list-style-type: none;
    padding: 0;

    & > li {
      margin-left: 24px;

      & > sup {
        vertical-align: baseline;
        top: auto;
        font-size: 100%;
        margin-left: -24px;
        margin-right: 4px;
        &:after {
          content: '. ';
        }
      }
      & p {
        display: inline-block;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    & p {
      margin-top: 0;
    }
  }

  & figcaption li[role='doc-footnote'] {
    & > sup {
      font-weight: normal;
    }
    & > p {
      margin: 0;
      display: inline-block;
    }
  }

  & > ol + figcaption {
    margin-top: 0;
  }

  &[typeof~='sa:Image'],
  &[typeof~='sa:Video'],
  &[typeof~='sa:Audio'] {
    & img,
    & video {
      max-width: 100%;
      object-fit: scale-down;
    }
  }

  & .image-object {
    text-align: center;
  }

  & .video-object {
    text-align: center;
  }

  /* style for text-boxes */
  &[typeof='schema:WPSideBar'] {
    font: var(--sans-body-type);
    letter-spacing: var(--sans-body-type__letter-spacing);

    @media print {
      font: var(--sans-body-print-type--small);
      color: var(--sans-body-print-type--small__color);
      letter-spacing: var(--sans-body-print-type--small__letter-spacing);
    }
    & ol {
      padding-top: 0;

      padding-left: 3ch;
      & ol {
        padding-left: 2ch;
        padding-bottom: 0;
      }
    }
    & li {
      padding: 0.4rem 0;
    }
    & header {
      /* reducing header padding when followed by text as in this textbox */
      padding-bottom: 1em;
    }
  }

  & > .image-object {
    page-break-inside: avoid;
    & > img {
      page-break-inside: avoid;
      object-fit: scale-down;
      max-width: 100%;
    }
  }

  &--source-code {
    /* allow page breaks in code figures */
    page-break-inside: auto !important;
  }

  /*
    Multipart figures
  */
  &--multi-part-figure {
    page-break-inside: auto !important;

    & .rdfa-figure__main-caption {
      & .rdfa-caption {
        margin-bottom: var(--sgrd);
      }
    }
    & > figcaption > .rdfa-caption {
      margin-bottom: var(--sgrd);
    }

    & .rdfa-figure__sub-caption-list-item {
      padding-bottom: var(--xsgrd);
    }

    & figure[resource] {
      margin: var(--xsgrd);
      padding: 1px;
      border: none;
      display: flex;
      flex-direction: column;
      page-break-inside: avoid;

      & > figcaption {
        margin: 0;
        padding: 5px;
        border: none;
        order: -1;
      }
    }

    /* chrome doesn't honor page-break-inside for anything other than block elements does disable flex layout for print */
    & .flex-packer {
      & figure[resource] {
        display: block;
        margin: var(--xsgrd);
      }
    }

    & figure[resource] > figure[resource] > figcaption {
      & > p {
        display: inline;
      }
      & span[property='schema:alternateName'] {
        float: none;
        padding: 0;
      }

      & [property='schema:caption'] {
        display: none;
      }
    }
  }

  /*
    formula figures
    We want the equation's number to be nicely on the right side; but if we just put it there
    the equation itself, which ought to be centered, will be moved to the left a bit, which is ugly.
    We could overlay the number with positioning/float/margin/whatever but this could risk being on
    top of the equation, which is unacceptable.
    Instead we generate *two* boxes with the number: one before and one after. The one before is made
    invisible, unselectable, etc. We flex the whole thing and voilà!
    This hack brought to you courtesy of a dinner with Dave Cramer.
  */
  &[typeof~='sa:Formula'] {
    text-align: center;
    &[data-equation-number] {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      &:not([resource]) {
        display: flex;
      }
      &::after {
        content: '(' attr(data-equation-number) ')';
        flex-basis: content;
        align-self: center;
      }

      &::before {
        content: '(' attr(data-equation-number) ')';
        color: transparent;
        user-select: none;
        flex-basis: content;
      }
      & > div {
        flex-grow: 1;
        overflow: auto;
      }
      & > span {
        display: none;
      }
      & figcaption {
        order: 999;
        width: 100%;
      }
      & > math,
      & > [role='math'],
      & > img {
        flex: 1;
        object-fit: contain;
      }
    }
  }
  & [role='math'] {
    /*overflow-x: auto;
    overflow-y: hidden;*/
    max-width: 100%;
    & math {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }

  @media print {
    background: transparent;
    overflow-x: hidden;
    max-width: 100%;
    page-break-inside: avoid;
  }
}
