.sifter {
  height: calc(100% - 56px);
  box-sizing: border-box;

  @media only screen and (height <= 1024px) {
    padding-bottom: 0;
  }

  & * {
    box-sizing: border-box;
  }

  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
  }

  &__search-pseudo-tag-menu {
    height: var(--mgrd);
    border-radius: 12px;
    background-color: var(--grey-300);
    padding: 0 8px 0 2px;
    font-size: 12px;

    & .menu__header-title {
      padding-right: 4px;
    }
  }

  &__logo-container {
    padding: 4px var(--sgrd);
    width: 200px;
    max-height: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;

    & > a,
    & > span {
      display: contents;
    }
  }
  &__header-logo {
    max-height: calc(var(--header-height) - 8px);
    max-width: 100%;
    object-fit: contain;
  }

  &__header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


  &__controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  /* this appears in right margin on desktop but is inlined on mobile */
  &__featured-content {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding-top: var(--xsgrd);
    padding-bottom: var(--footer-height);
    & > * {
      margin: var(--sgrd);
    }
  }

  & .app-layout__mobile-inlined-right &__featured-content {
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    min-width: 100%;
    align-items: stretch;

    margin-bottom: var(--mgrd);
    padding: 0 var(--xsgrd);

    & > * {
      margin: var(--xsgrd);
      min-width: 240px;
      max-width: 100%;
      flex: 1 1 30%;
    }
  }

  &__panel-toggle {
    position: fixed;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 40px;
    z-index: 2003;

    @media (--small-desktop) {
      display: block;
    }

    & .iconoclass {
      top: 8px;
      left: 8px;
    }
  }


  /* journal nav gets moved from right margin to left margin on mobile */
  &__left-journal-nav {
    padding: var(--sgrd);
  }

  &__body {
    display: flex;

    &__main {
      padding: var(--mgrd) var(--sgrd);
      width: 50%;
      flex-grow: 1;

      @media (--tablet) {
        padding: var(--sgrd) 0;
      }
    }

    &__right {
      padding: var(--mgrd) var(--sgrd);
      width: 25%;
      max-width: 32rem;

      @media (--small-desktop) {
        width: calc(50% - 4rem);
      }

      @media (--tablet) {
        padding: var(--sgrd) 0;
      }

      @media (--small-tablet) {
        display: none;
      }
    }
  }

}
