.sifter-list {
  &__notices {
    padding: 0 var(--sgrd);
  }

  &__content-list {
    padding: 0 var(--sgrd);

    & .rfa-snippet {
      margin-bottom: var(--sgrd);
    }
  }

  &__more-button-container {
    width: 100%;
    text-align: center;
    padding-bottom: var(--mgrd);
  }
}
