.annotable-typesetting-action {
  &__notice-text {
    padding-right: var(--xsgrd);
  }

  &__notice-scroll-button {
    margin-left: auto !important;
  }

  &__dropzone-section {
    margin-top: var(--sgrd);
  }

  &__dropzone {
    height: 3rem;
    padding: var(--mgrd) 0;
  }
}
