.dataset {
  & [role="math"] {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
  }

  & [role="math"] math {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  &__distribution {
    margin-bottom: var(--mgrd);
  }
}
