.document-loader {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  font: var(--ui-type);
  color: var(--text-color--light);
  letter-spacing: var(--ui-type__letter-spacing);

  @media (--beyond-tablet) {
    width: 66vw;
  }

  @media (--beyond-large-desktop) {
    width: 50vw;
  }
}
