.progress-logger {
  & .expansion-panel {
    border-top: 0;
  }
}
.progress-logger .loading i {
  opacity: 0;
  animation: ellipsis 1.3s infinite;
  animation-delay: 0s;
}

.progress-logger .loading i + i {
  opacity: 0;
  animation: ellipsis 1.3s infinite;
  animation-delay: 0.2s;
}

.progress-logger .loading i + i + i {
  opacity: 0;
  animation: ellipsis 1.3s infinite;
  animation-delay: 0.3s;
}

@keyframes ellipsis {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
